/* fira-sans-200 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/build/fonts/fira_sans/fira-sans-v8-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'),
  url('/build/fonts/fira_sans/fira-sans-v8-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-200.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-200.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-300 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/build/fonts/fira_sans/fira-sans-v8-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Light'), local('FiraSans-Light'),
  url('/build/fonts/fira_sans/fira-sans-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-300.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-300.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/build/fonts/fira_sans/fira-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Light'), local('FiraSans-Light'),
  url('/build/fonts/fira_sans/fira-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/build/fonts/fira_sans/fira-sans-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
  url('/build/fonts/fira_sans/fira-sans-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-500.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-500.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-600 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/build/fonts/fira_sans/fira-sans-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
  url('/build/fonts/fira_sans/fira-sans-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-600.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-600.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-800 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/build/fonts/fira_sans/fira-sans-v8-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'),
  url('/build/fonts/fira_sans/fira-sans-v8-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-800.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/fira_sans/fira-sans-v8-latin-800.svg#FiraSans') format('svg'); /* Legacy iOS */
}