/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('/build/fonts/lora/lora-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lora Regular'), local('Lora-Regular'),
  url('/build/fonts/lora/lora-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/lora/lora-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/lora/lora-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/lora/lora-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/lora/lora-v12-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}