/* muli-300 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('/build/fonts/muli/muli-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Muli Light'), local('Muli-Light'),
  url('/build/fonts/muli/muli-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/muli/muli-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/muli/muli-v12-latin-300.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/muli/muli-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/muli/muli-v12-latin-300.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-600 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: url('/build/fonts/muli/muli-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Muli SemiBold'), local('Muli-SemiBold'),
  url('/build/fonts/muli/muli-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/muli/muli-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/muli/muli-v12-latin-600.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/muli/muli-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/muli/muli-v12-latin-600.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-800 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: url('/build/fonts/muli/muli-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
  url('/build/fonts/muli/muli-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/muli/muli-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/muli/muli-v12-latin-800.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/muli/muli-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/muli/muli-v12-latin-800.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-900 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: url('/build/fonts/muli/muli-v12-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Muli Black'), local('Muli-Black'),
  url('/build/fonts/muli/muli-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/build/fonts/muli/muli-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('/build/fonts/muli/muli-v12-latin-900.woff') format('woff'), /* Modern Browsers */
  url('/build/fonts/muli/muli-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/build/fonts/muli/muli-v12-latin-900.svg#Muli') format('svg'); /* Legacy iOS */
}