.row {
  margin: 0;
}

a {
  &:hover {
    color: $color-black-light;
    text-decoration: none;
  }
}

.parallax {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  @media (max-width: 576px) {
    background-attachment: unset !important;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, .4);
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden !important;
  box-sizing: content-box;
}

.no-pointer {
  cursor: default !important;
}

.d-sm-none {
  display: none;

  @media (min-width: 768px) {
    display: flex !important;
  }
}

.d-xs-none {
  @media (max-width: 567px) {
    display: none !important;
  }
}

.opacity-0 {
  animation: _opacity-0 .35s ease-in-out forwards;
}

@keyframes _opacity-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.opacity-1 {
  animation: _opacity-1 .35s ease-in-out forwards;
}

@keyframes _opacity-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.next-card {
  animation: _next-card .35s ease-in-out;
}

@keyframes _next-card {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.prev-card {
  animation: _prev-card .35s ease-in-out;
}

@keyframes _prev-card {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}