// Title

.title {
  font-family: 'Muli', sans-serif;
  margin: 0;
  font-size: 50px;
  font-weight: 300;
  text-align: center;

  > div:first-child,
  p:first-child {
    font-weight: 700;
    margin-bottom: 8px;
  }

  > div:nth-child(2),
  p:nth-child(2) {
    font-size: 32px;
  }

  @media (max-width: 576px) {
    text-align: left;

    > div:first-child,
    p:first-child {
      font-size: 32px;
      margin-bottom: 16px;
    }

    > div:nth-child(2),
    p:nth-child(2) {
      font-size: 16px;
    }
  }

  &.white {
    color: #fff;
  }

  &.black {
    color: #000;
  }

  &.section--title {
    color: $color-black-light;
    font-weight: 600;

    &.w-border {
      &:after {
        content: '';
        display: block;
        width: 100px;
        margin: 40px auto;
        border-bottom: 3px solid $color-primary;

        @media (max-width: 576px) {
          margin: 24px auto;
        }
      }
    }

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 576px) {
      font-size: 24px;
      text-align: center;
    }
  }

  &.search--title {
    font-family: 'Fira Sans', sans-serif;
    color: $color-black-light;
    font-size: 20px;
    font-weight: 600;
    text-align: left;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-top: 64px;
      margin-right: 5%;
      background: $color-black;

      @media (max-width: 767px) {
        margin-top: 40px;
      }

      @media (max-height: 780px) {
        margin-top: 32px;
      }
    }
  }

  &.search--results {
    margin-top: 8px;
    margin-bottom: 32px;
    color: $color-black-light;
    font-size: 16px;
    text-align: left;
    opacity: .8;
  }

  &.card--title {
    color: $color-black-light;
    font-size: 22px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }

  &.wizard-step--title {
    color: $color-black-light;
    font-size: 30px;
    font-weight: 500;

    @media (max-width: 567px) {
      font-size: 24px;
    }
  }

  &.wizard-card--title {
    color: $color-white;
    font-size: 22px;

    @media (max-width: 567px) {
      font-size: 16px;
    }
  }

  &.equipment--title {
    margin-bottom: 30px;
    color: $color-black-light;
    font-size: 24px;
    font-weight: 900;
    text-align: left;

    .cover {
      color: $color-black-light;
      font-size: 12px;
      font-weight: 400;
    }

    @media (max-width: 576px) {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &.tech--title {
    color: $color-gray-light;
    font-size: 30px;
    font-weight: 600;
    text-align: left;

    @media (max-width: 1024px) {
      font-size: 28px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &.contacts--title {
    font-family: 'Fira Sans', sans-serif;
    color: $color-black-light;
    font-size: 30px;
    font-weight: 600;
  }
}

// Text

.text {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  color: $color-white;
  font-size: 24px;
  text-align: center;

  @media (max-width: 576px) {
    font-size: 16px;
  }

  &.text--gray {
    font-size: 16px;
    color: $color-gray;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &.card--text {
    color: $color-black-light;
    font-size: 16px;
    text-align: center;
    opacity: .8;

    @media (max-width: 1024px) {
      font-size: 12px;
    }

    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &.box--text {
    color: $color-black;
    font-size: 18px;
    text-align: left;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &.wizard-step--text {
    color: $color-gray;
    font-size: 16px;

    @media (max-width: 567px) {
      font-size: 14px;
    }
  }

  &.quote--text {
    color: $color-gray;
    font-size: 16px;
    text-align: center;

    @media (max-width: 567px) {
      font-size: 12px;
    }
  }

  &.equipment--text {
    font-size: 18px;
    text-align: left;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  &.tech--text {
    font-size: 14px;
    text-align: left;
  }
}

// Link

.link {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: none;

  &.card--link {
    color: $color-secondary;
    opacity: 0.5;
  }

  &.contacts--link {
    color: $color-black-light;
    font-size: 30px;
  }

  &.menu--link {
    color: $color-black-light;
    font-size: 40px;
    text-decoration: none;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 1024px) {
      font-size: 26px;
    }

    &.active {
      font-weight: bold;
    }

    &.revert {
      font-size: 20px;
    }
  }

  &.return {
    color: $color-white;
    font-size: 16px;
    text-decoration: none;
  }
}

// Button

.btn {
  font-family: 'Fira Sans', sans-serif;
  color: $color-white;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

// Input

.form-label {
  font-size: 20px;
  color: $color-white-darker2;

  @media (max-width: 567px) {
    font-size: 16px;
  }
}

.form-input {
  font-size: 20px;

  @media (max-width: 567px) {
    font-size: 16px;
  }
}