// Variables
@import "variables";
// Fonts
@import "fonts";
// Typography
@import "typography";
// Grid
@import "grid";
// Custom
@import "custom";
@import "colors";
// Components
@import "components/asRange";
@import "components/avatar";
@import "components/bubble-animation";
@import "components/button";
@import "components/calendar";
@import "components/card";
@import "components/confetti-animation";
@import "components/covers-list";
@import "components/feature-list";
@import "components/header";
@import "components/horizontal-menu";
@import "components/image";
@import "components/input";
@import "components/menu";
@import "components/menu-button";
@import "components/mouse-wheel";
@import "components/page";
@import "components/page-section";
@import "components/quote";
@import "components/ripple-effect";
@import "components/scroll-to";
@import "components/search-nav";
@import "components/select2";
@import "components/slick";
@import "components/stacked-cards";
@import "components/svg-animation";
@import "components/tab";
@import "components/text-box";
@import "components/time-picker";
@import "components/validation";
@import "components/vertical-menu";
@import "components/wizard";
// Placeholders
@import "placeholders/equipments";
// Pages
@import "pages/contacts";
@import "pages/equipments";
@import "pages/home";
@import "pages/services";

body {
  background: $color-white-dark;
  scroll-behavior: smooth;

  // App
  #app {
    // Vertical Nav
    #cd-vertical-nav {
      &.black {
        .cd-label {
          color: $color-black;
        }
      }
    }
    // Vertical Nav
  }
  // App
}