.js {
  .page {
    &.contacts {
      .form {
        padding-top: 184px;

        @media (max-width: 567px) {
          padding-top: 72px;
        }

        .form-submitted {
          display: none;

          @media (max-width: 567px) {
            .title {
              &.contacts--title {
                padding: 0 15px;
              }
            }
          }

          img {
            width: 100%;
          }
        }
      }

      .contacts--container {
        text-align: center;

        @media (max-width: 567px) {
          .title {
            &.contacts--title {
              padding: 0 15px;
            }
          }
        }

        a {
          text-decoration: none;

          &:hover {
            color: $color-primary;
          }
        }
      }

      .contacts--title {
        display: block;
        padding: 0 30px;

        &.contact {
          font-weight: 300;
        }
      }
    }
  }
}