.js {
  .page {
    &.equipments {
      background-color: $color-white-dark2;

      /* Hero */
      .hero {
        position: relative;
        display: flex;
        justify-content: center;
        height: 80vh;

        @media (max-width: 567px) {
          height: 40vh;
        }

        > canvas {
          position: absolute;
        }

        /* Search */
        .search--container {
          position: relative;
          width: 70vw;
          align-self: center;

          @media (max-width: 567px) {
            width: 90vw;
            margin-top: 40vh;

            &:after {
              content: '';
              display: block;
              width: 90%;
              margin: 0 auto;
              box-shadow: 0 0 10px 5px #888888;
            }
          }

          /* Toggle */
          .dropdown-toggle {
            width: 100%;
            height: 70px;
            padding: 16px 24px;
            color: rgba($color-gray, 0.2);
            font-size: 26px;
            line-height: 32px;
            background: $color-white;
            border: none;
            border-radius: 1.8px 1.8px 0 0;
            box-shadow: none;
            text-align: left;
            text-transform: none;

            @media (max-width: 767px) {
              padding: 16px 48px 16px 24px;
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &:before {
              content: '';
              position: absolute;
              top: 24px;
              right: 24px;
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: $color-primary;
            }

            &:after {
              position: absolute;
              top: 32px;
              right: 32px;
              color: $color-white;
              border-top: 4px solid;
              border-right: 4px solid transparent;
              border-left: 4px solid transparent;
            }
          }

          /* Toggle */

          /* Menu */
          .dropdown-menu {
            width: 100%;
            margin-top: -1px;
            padding: 0;
            border: none;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

            /* Item */
            .dropdown-item {
              font-family: "Muli", sans-serif;
              position: relative;
              height: 70px;
              padding: 16px 24px;
              font-size: 26px;
              color: $color-primary;

              @media (max-width: 767px) {
                height: 56px;
                font-size: 14px;
              }

              &:hover {
                color: $color-white;
                background: $color-primary;

                &:after {
                  color: $color-white;
                }
              }

              &:after {
                content: '';
                position: absolute;
                top: 32px;
                right: 24px;
                height: 8px;
                width: 8px;
                border-style: solid;
                border-width: 1px 1px 0 0;
                transform: rotate(45deg);

                @media (max-width: 767px) {
                  top: 24px;
                }
              }
            }

            /* Item */
          }

          /* Menu */
        }

        /* Search */
      }

      /* Hero */

      /* Title Container */
      .section--title--container {
        margin-top: 100px;

        @media (max-width: 767px) {
          margin-top: 64px;
          margin-bottom: 24px;
        }
      }

      /* Title Container */

      /* Equipment */
      .equipment {
        height: auto;
        margin-bottom: 0;
        padding-top: 0;

        .equipment-overview {
          height: 400px;
          background-size: contain !important;
        }

        .equipment--info {
          @media (max-width: 767px) {
            flex: 1;
            margin: 0 16px;
          }

          .equipment--title {
            @media (max-width: 767px) {
              margin-top: 32px;
            }
          }

          .equipment--text {
            @media (max-width: 767px) {
              font-size: 12px;
            }
          }

          .btn--container {
            @media (max-width: 767px) {
              text-align: center;
            }
          }
        }

        /* Divider */
        .divider {
          position: relative;
          top: -1px;
          width: 100%;
          height: 100px;
          background: $color-white-dark2;

          @media (max-width: 767px) {
            display: none;
          }

          &.top {
            clip-path: polygon(0 0, 0 100px, 100% 0);
          }

          &.bottom {
            top: 1px;
            clip-path: polygon(100% 0, 0 100px, 100% 100px);
          }
        }

        /* Divider */

        /* Background */
        &.black-bg {
          .container {
            .row {
              .equipment--image {
                box-shadow: none;
              }

              .btn {
                box-shadow: none;

                &.see-demo {
                  .btn--round {
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }

        /* Background */

        /* Container */
        .container {
          display: flex;
          padding: 100px 0;

          @media (max-width: 1024px) {
            max-width: 100% !important;
          }

          @media (max-width: 767px) {
            max-width: 100% !important;
            padding: 0 0 32px
          }

          .row {
            justify-content: center;

            /* Button */
            .btn {
              margin-top: 88px;
              margin-left: 64px;
              background: $color-white;
              box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);

              &.see-demo {
                .btn--round {
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  position: absolute;
                  left: -64px;
                  top: -16px;
                  background-image: linear-gradient(45deg, #E1CB5E 0%, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
                  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
                  z-index: 2;

                  &:after {
                    content: '';
                    position: absolute;
                    top: 24px;
                    left: 32px;
                    width: 0px;
                    height: 0px;
                    border-top: 14px solid transparent;
                    border-bottom: 14px solid transparent;
                    border-left: 22px solid $color-white;
                  }
                }
              }
            }

            /* Button */
          }
        }

        /* Container */
      }

      /* Equipment */

      /* Quotes */
      .quotes--container {
        margin-top: 48px;
      }

      /* Quotes */

      /* Detail */
      .equipment--detail {
        @extend %equipment--detail;

        @media (max-width: 567px) {
          display: none;
        }

        > div {
          height: 100vh;
          margin: 0;
          overflow: hidden auto;

          .equipment--detail--image,
          .equipment--detail--menu {
            position: fixed;
            height: 100vh;
          }

          .equipment--detail--image,
          .equipment--detail--content,
          .equipment--detail--menu {
            transition: transform .8s ease-in-out;
            will-change: transform;
          }

          .equipment--detail--image {
            left: 0;
            transform: translateX(400%);
            transition-delay: .20s;

            @media (max-width: 1024px) {
              height: 250px;
            }
          }

          .equipment--detail--content {
            height: max-content;
            overflow: auto;
            transform: translateX(150%);
            transition-delay: .15s;

            @media (max-width: 1024px) {
              transform: translateX(100%);
            }

            section {
              min-height: 100vh;
              padding-bottom: 48px;

              .logo {
                margin-top: 32px;
                margin-bottom: 48px;
              }

              /* Title */
              .title {
                &.equipment--title {
                  font-weight: 300;
                }
              }

              /* Title */

              /* Text */
              .text {
                margin-bottom: 64px;
              }

              /* Text */

              /* Image */
              .img--container {
                text-align: center;
              }

              /* Image */

              /* Tech */
              .tech--item {
                &:not(:last-child) {
                  margin-bottom: 120px;
                }

                .tech--item--image {
                  width: 128px;
                  height: 128px;
                  background-size: cover !important;
                  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.20);

                  @media (max-width: 1024px) {
                    width: 100px;
                    height: 100px;
                  }
                }

                .tech--item--specs {
                  .title {
                    margin-bottom: 16px;
                  }
                }
              }

              /* Tech */
            }
          }

          .equipment--detail--menu {
            right: 0;
            padding-top: 32px;
            padding-left: 40px;
            transform: translateX(100%);
            z-index: 2;

            @media (max-width: 1024px) {
              top: 250px;
              left: 0;
              height: calc(100vh - 250px);
              padding-left: 16px;
              transform: translateX(400%);
            }

            .link {
              img {
                margin-right: 24px;
                margin-bottom: 2px;
              }
            }
          }
        }

        &.show {
          transform: translateX(0%);

          .equipment--detail--image,
          .equipment--detail--content,
          .equipment--detail--menu,
          .horizontal-menu {
            transform: translateX(0%);
          }
        }
      }

      /* Detail */

      /* Detail Mobile */
      .equipment--detail--mb {
        @extend %equipment--detail;

        display: none;

        @media (max-width: 567px) {
          display: block;
        }

        &.show {
          transform: translateX(0);
        }

        > div {
          margin: 0;

          /* Image */
          .equipment--detail--image {
            height: 150px;

            .link {
              &.return {
                position: absolute;
                top: 16px;
                right: 16px;
              }
            }
          }

          /* Image */

          // Menu
          .equipment--detail--menu {
            height: 32px;
            padding: 8px 16px;
            line-height: 16px;

            .link {
              &.return {
                &:last-child {
                  img {
                    margin-left: 16px;
                    margin-right: 0;
                    transform: rotate(-90deg);
                  }
                }

                img {
                  margin-right: 16px;
                  transform: rotate(90deg);
                }
              }
            }
          }

          // Menu

          // Content
          .equipment--detail--content {
            height: 100vh;
            overflow: hidden;

            section {
              @extend %equipment--detail;

              position: absolute;
              top: 0;
              left: 0;
              height: calc(100vh - 200px);
              padding: 0 16px 32px;
              background: $color-white;
              overflow: auto;

              &.active {
                transform: translateX(0);
              }

              .title {
                .equipment--title {
                  margin-bottom: 16px;
                }
              }

              // Tech Item
              .tech--item {
                &:not(:last-child) {
                  margin-bottom: 48px;
                }

                .tech--item--image {
                  width: 48px;
                  height: 48px;
                  background-size: cover !important;
                  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.20);
                }

                .tech--item--specs {
                  padding: 0;
                }

                .tech--title {
                  margin-bottom: 0;
                  line-height: 48px;
                }

                .tech--text {
                  margin-top: 16px;
                }
              }

              // Tech Item
            }
          }

          // Content
        }
      }

      /* Detail Mobile */
    }
  }
}