#home {
  // Hero
  #home-hero {
    position: relative;
    height: 800px;
    overflow: hidden;

    @media (max-width: 576px) {
      height: 500px;
    }

    // Title
    .container {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);

      .title {
        b {
          color: $color-white;
          font-weight: 800;
        }
      }
    }

    // Title

    // Text
    .text {
      font-family: 'Muli', sans-serif;
      color: $color-white;
      font-weight: 800;
    }

    // Text

    // Clients Container
    .clients-list-container {
      position: absolute;
      right: 0;
      bottom: 140px;
      left: 0;

      @media (max-width: 576px) {
        bottom: 80px;
      }

      // Title
      .title {
        color: $color-white;
        font-size: 120px;
        font-weight: 900;
        text-align: left;
        opacity: 0.2;

        @media (max-width: 767px) {
          font-size: 90px;
        }

        @media (max-width: 576px) {
          font-size: 60px;
        }
      }

      // Title

      // Clients List
      .clients-list {
        position: absolute;
        bottom: -80%;
        left: 0;
        width: 120%;

        @media (max-width: 767px) {
          bottom: -110%;
        }

        // Items
        .clients-list--item {
          width: 150px;
          height: 150px;
          margin: 16px;
          border-radius: 5px;
          background-position: center !important;
          background-repeat: no-repeat !important;
          background-size: contain !important;
          background-color: $color-white !important;
          box-shadow: -5px 5px 20px 0 rgba(0, 0, 0, 0.2);
          cursor: pointer;

          @media (max-width: 576px) {
            width: 100px;
            height: 100px;
          }

          &:active,
          &:focus {
            outline: none;
          }
        }

        // Items
      }

      // Clients List
    }

    // Clients Container
  }

  // Hero

  // Services
  #home-services {
    margin-bottom: 0;

    .services {
      display: inline-block;
      width: 100vw;
      transition: transform 1s ease-in-out, visibility .80s ease-in-out;
      will-change: transform;

      // Services List
      .services-list {
        margin: 72px 0 16px;
        text-align: center;
      }

      // Services List

      // Wizard section
      &.show-wizard {
        @extend %show-wizard;
      }

      // Wizard section
    }
  }

  // Services

  // Fragrances
  #home-fragrances {
    .fragrances {
      display: inline-block;
      width: 100vw;
      transition: transform 1s ease-in-out, visibility .80s ease-in-out;
      will-change: transform;

      // Banner
      .banner {
        position: relative;
        width: 100vw;
        height: 500px;
        padding-top: 150px;
        background: $color-black-light;

        @media (max-width: 576px) {
          height: 280px;
          padding-top: 32px;
        }

        > img {
          position: absolute;
          right: 0;
          bottom: -120px;
          left: 0;
          width: 100vw;
        }

        // Title
        .title {
          color: $color-white;

          &:after {
            border-color: $color-white;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          }
        }

        // Title
      }

      // Banner

      // Button Container
      .btn-container {
        text-align: center;
        margin-top: -24px;
      }

      // Button Container

      // Image
      .image {
        width: 500px;
        height: 350px;
        margin: 64px auto 0;

        @media (max-width: 576px) {
          width: 180px;
          height: 180px;
        }
      }

      // Image

      // Wizard section
      &.show-wizard {
        @extend %show-wizard;
      }

      // Wizard section
    }
  }

  // Fragrances

  // Products
  #home-products {
    // Button Container
    .btn-container {
      text-align: center;
      margin-top: 64px;
      margin-bottom: 32px;
    }

    // Button Container

    // Image
    .image {
      width: 70%;
      height: 560px;
      margin: 0 auto;

      @media (max-width: 992px) {
        height: 300px;
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    // Image
  }

  // Products
}

// Wizard section
%show-wizard {
  height: 100vh;
  padding: 120px 0;

  .container {
    max-width: 100% !important;
    height: 100vh;
    padding: 0;
  }
}

// Wizard section