.js {
  .page {
    &.services {
      background-color: $color-white-dark2;

      // Hero
      .hero {
        padding-top: 120px;
        transform: translateX(0);

        canvas {
          width: 100%;
          height: 100%;
        }

        .iconbutton {
          position: relative;
          top: unset;
          left: unset;
          display: block;
          margin: 16px auto 0;
          transform: unset;

          .scroll {
            border-color: $color-primary;

            .scroll__wheel {
              background: $color-primary;
            }
          }

          img {
            @media (max-width: 567px) {
              width: 100%;
            }
          }
        }
      }

      // Hero

      // Details
      .service-details {
        display: flex;
        max-width: 80% !important;
        margin: 0 auto 80px;
        padding: 24px;
        justify-content: center;

        @media (max-width: 1024px) {
          max-width: 100% !important;
        }

        @media (max-width: 992px) {
          display: block;
        }

        @media (max-width: 567px) {
          max-width: 100% !important;
          padding: 0;
        }

        .card {
          width: 300px;
          height: fit-content;
          padding: 24px;
          border: none;
          border-radius: 4px;

          @media (max-width: 992px) {
            margin: 0 auto 40px !important;
          }

          @media (max-width: 567px) {
            margin: 24px !important;
          }

          &:nth-child(even) {
            margin-top: 100px;
          }

          .card--image {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-bottom: 24px;
          }

          .card--title {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 24px;
            font-size: 18px;
            font-weight: 600;

            @media (max-width: 567px) {
              font-size: 16px;
            }
          }

          .card--text {
            height: auto;
            font-size: 14px;
            text-align: left;
          }
        }
      }

      // Details

      // Products
      .covers-list {
        margin-bottom: 64px;

        .slick-dots {
          bottom: -40px;

          li {
            width: 40px;

            button {
              width: 40px;

              &:before {
                width: 40px;
              }
            }
          }
        }
      }

      // Products

      .tab-pane {
        height: 320px;
      }
    }
  }
}