.asRange {
  width: 80%;
  margin: 32px auto 0;
  border-radius: 0;
  background-color: $color-white-darker;

  // Pointer
  .asRange-pointer {
    top: calc((100% - 20px) / 2);
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-color: $color-white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25);

    &:before {
      content: unset;
    }

    &:focus {
      outline: 0;
    }
  }

  // Pointer

  // Selected
  .asRange-selected {
    border-radius: 0;
    background-color: $color-primary;
  }

  // Selected
}