.btn {
  position: relative;
  min-width: 150px;
  padding: 12px 16px;
  background-image: linear-gradient(45deg, #E1CB5E 0%, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
  border: none;
  border-radius: 0;
  cursor: pointer;
  transform-style: flat;
  transition: all 250ms ease-out;
  will-change: transform;

  &:before,
  &:after {
    content: "";
    position: absolute;
    transition: all 250ms ease-out;
    will-change: transform;
  }

  // Focus & Active
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }

  &:not([disabled]):not(.disabled) {
    &:active {
      background-image: linear-gradient(45deg, #E1CB5E 0, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
    }
  }

  // Focus & Active

  // Black
  &.black {
    color: $color-white;
    background-color: $color-black;
    background-image: unset;

    &:not([disabled]):not(.disabled) {
      &:active {
        background-color: $color-black;
        background-image: unset;
      }
    }
  }

  // Black

  // Inline
  &.inline {
    display: inline-block;

    @media (max-width: 576px) {
      display: block;
      margin: 0 auto;
    }

    &:not(:last-child) {
      margin-right: 32px;

      @media (max-width: 576px) {
        margin: 0 auto;
        margin-bottom: 8px;
      }
    }
  }

  // Inline

  // Flatten
  &.flatten {
    box-shadow: none;

    &:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 15px 10px -10px rgba(191, 155, 48, .5);
    }

    &:hover {
      &:before {
        box-shadow: 0 12px 10px -10px rgba(191, 155, 48, 0.3);
      }
    }

    &.black {
      &:before {
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
      }

      &:hover {
        &:before {
          box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  // Flatten
}