div[id^="calendar"] {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;

  @media (max-width: 567px) {
    padding: 0;
  }

  * {
    font-family: "Fira Sans", sans-serif;
  }

  /* Toolbar */
  .fc-toolbar {
    margin-bottom: 24px;

    button {
      width: 80px;
      height: 36px;
      padding: 0;
      color: $color-gray-light2;
      font-size: 12px;
      line-height: 10px;
      text-shadow: none;
      background: $color-white-dark;
      background-image: unset;
      border: 1px solid $color-white-dark3;
      border-radius: 0;
      box-shadow: none;

      &:not(.fc-state-disabled):not(.fc-prev-button):not(.fc-next-button) {
        color: $color-secondary;
        font-weight: bold;
        background-color: $color-white;
        border: 1px solid $color-white;
        box-shadow: 0 6px 5px 0 rgba(191, 155, 48, .1);
      }
    }

    .fc-center {
      & > div {
        button,
        h2 {
          display: inline-block;
        }

        h2 {
          @extend %calendar-title;
        }

        .fc-prev-button,
        .fc-next-button {
          padding: 0;
          border: none;
          vertical-align: top;

          .fc-icon {
            height: auto;
            line-height: 36px;
          }

          &:focus {
            outline: none;
          }

          @media (max-width: 567px) {
            width: 20px;
          }
        }

        .fc-prev-button {
          margin-right: 10px;
        }

        .fc-next-button {
          margin-left: 10px;
        }
      }
    }
  }

  /* Toolbar */

  /* Container */
  .fc-view-container {
    table {
      background: $color-white;

      /* Header */
      .fc-head {
        .fc-head-container {
          border-color: $color-white-dark3;

          .fc-day-header {
            height: 34px;
            color: $color-gray-light;
            font-size: 12px;
            font-weight: 300;
            line-height: 34px;
            border: none;
          }
        }
      }

      /* Header */

      /* Body */
      .fc-body {
        .fc-scroller {
          @media (max-width: 567px) {
            height: auto !important;
            overflow: hidden !important;
          }

          .fc-week {
            @media (max-width: 567px) {
              min-height: 50px !important;
              height: 50px !important;
            }

            td {
              border-color: $color-white-dark3;
              background: transparent;

              &.fc-day-top {
                &.fc-today {
                  .fc-day-number {
                    border-radius: 50%;
                    background: $color-primary;
                    color: #fff;
                  }
                }

                .fc-day-number {
                  width: 30px;
                  height: 30px;
                  margin: 8px;
                  color: $color-gray-light2;
                  font-size: 12px;
                  font-weight: 300;
                  line-height: 30px;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      /* Body */
    }
  }

  /* Container */
}

#calendar2 {
  /* Toolbar */
  .fc-toolbar {
    .fc-center {
      position: unset;

      h2 {
        @extend %calendar-title;
      }
    }
  }
}

%calendar-title {
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
}