.card {
  display: inline-block;
  width: 350px;
  height: 550px;
  background-color: $color-white;
  border-radius: 15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 1024px) {
    width: 280px;
    height: 380px;
    padding: 16px;
  }

  @media (max-width: 992px) {
    display: block;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    padding: 48px 8px 32px;
  }

  @media (max-width: 576px) {
    width: 280px;
    height: auto;
    margin: 20px;
    padding: 32px 8px;
  }

  &:not(:last-child) {
    margin-right: 32px;

    @media (max-width: 992px) {
      margin-right: auto !important;
      margin-bottom: 40px;
    }

    @media (max-width: 576px) {
      margin: 24px !important;
    }
  }

  // Header
  .card--header {
    margin-top: 24px;

    @media (max-width: 1024px) {
      margin-top: 0;
    }

    // Image
    .card--image {
      width: 100%;
      height: 210px;

      @media (max-width: 1024px) {
        height: 120px;
      }
    }

    // Image
  }

  // Header

  // Content
  .card--content {
    padding: 0 32px 32px;

    @media (max-width: 1024px) {
      padding: 0 16px 16px;
    }

    @media (max-width: 576px) {
      padding: 0 32px;
    }

    // Title
    .card--title {
      margin-top: 80px;

      @media (max-width: 1024px) {
        margin-top: 32px;
      }

      @media (max-width: 576px) {
        margin-top: 24px;
      }
    }

    // Title

    // Text
    .card--text {
      height: 100px;
      margin-top: 32px;

      @media (max-width: 1024px) {
        height: auto;
        margin-top: 32px;
      }

      @media (max-width: 576px) {
        margin-top: 24px;
      }
    }

    // Text

    // Link
    .card--link {
      position: relative;
      display: block;
      width: fit-content;
      margin: 24px auto;

      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        margin: 0;
        background: $color-secondary;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
        will-change: transform;
      }

      &:hover {
        text-decoration: none;

        &:before {
          transform: scale3d(1, 1, 1);
        }
      }
    }

    // Link
  }

  // Content
}