.covers-list {
  @media (max-width: 576px) {
    .card {
      height: 300px;
      margin: 16px !important;
      background-color: transparent;
      border: none;
      box-shadow: none;

      .card--header {
        margin-bottom: 16px;
      }

      .card--content {
        padding: 0;

        #cover {
          top: unset;
          width: 200px;
          transform: unset;

          // One room
          &.one-room {
            .room {
              top: 40px;
              width: 200px;
              height: 124px;

              .box {
                right: 95px;
              }

              .room--wave {
                top: -65px;
                width: 120px;
                height: 120px;

                &:nth-child(2) {
                  left: 40px;
                }

                &:nth-child(3) {
                  top: -100px;
                  left: 0;
                  width: 200px;
                  height: 200px;
                }

                &:nth-child(4) {
                  top: -114px;
                  left: -50px;
                  width: 300px;
                  height: 300px;
                }
              }
            }
          }

          // One room

          // Two room
          &.two-room {
            .top-room {
              top: 15px;
              right: 4px;
              width: 68px;
              height: 76px;

              .box {
                top: 0;
                right: 0;
              }

              .top-room--wave {
                width: 68px;
                height: 76px;

                &:nth-child(3) {
                  width: 100px;
                  height: 100px;
                }
              }
            }

            .bottom-room {
              top: 90px;
              left: 4px;
              width: 192px;
              height: 99px;

              .box {
                right: 92px;
              }

              .bottom-room--wave {
                &:nth-child(2) {
                  top: -50px;
                  left: 45px;
                  width: 100px;
                  height: 100px;
                }

                &:nth-child(3) {
                  top: -75px;
                  left: 20px;
                  width: 150px;
                  height: 150px;
                }

                &:nth-child(4) {
                  top: -125px;
                  left: -28px;
                  width: 250px;
                  height: 250px;
                }
              }
            }
          }

          // Two room

          // Three room
          &.three-room {
            .top-room {
              top: 33px;
              width: 61px;
              height: 68px;

              &:nth-child(1) {
                left: 4px;
              }

              &:nth-child(2) {
                width: 62px;
                left: 69px;
              }

              &:nth-child(3) {
                right: 4px;
              }

              .top-room--wave {
                &:nth-child(2) {
                  width: 61px;
                  height: 68px;
                }
              }
            }
          }

          // Three room

          // Omnia
          &.omnia {
            .room {
              top: 16px;
              left: 3px;
              width: 194px;
              height: 171px;

              .box {
                top: 80px;
                right: 92px;
              }

              .room--wave {
                &:nth-child(2) {
                  top: 36px;
                  left: 47px;
                  width: 100px;
                  height: 100px;
                }

                &:nth-child(3) {
                  top: 11px;
                  left: 22px;
                  width: 150px;
                  height: 150px;
                }

                &:nth-child(4) {
                  top: -54px;
                  left: -52px;
                  width: 300px;
                  height: 300px;
                }
              }
            }
          }

          // Omnia

          img, svg {
            min-width: unset;
            max-width: unset;
            width: 200px;
            height: 200px;
            opacity: 0;
            transition: opacity .35s ease-in-out;
          }
        }
      }

      &.slick-cloned {
        .card--content {
          img, svg {
            opacity: 0;
          }
        }
      }

      &.slick-active {
        .card--content {
          #cover {
            img, svg {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}