.feature-list {
  margin-bottom: 8px;
  text-align: center;

  // Item
  .feature-list--item {
    display: inline-block;
    width: 190px;
    height: 46px;
    padding: 10px;
    border-radius: 50px;
    background-color: $color-black-light;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.5);
    text-align: center;
    cursor: pointer;

    @media (max-width: 1024px) {
      width: 150px;
    }

    @media (max-width: 992px) {
      display: block;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    &:not(:last-child) {
      margin-right: 24px;

      @media (max-width: 992px) {
        margin-right: auto;
      }
    }

    // Selected
    &.selected {
      background-color: $color-primary;
      box-shadow: 0 4px 10px 0 rgba(191, 155, 48, 0.4);

      .feature-list--item--icon {
        .horizontal {
          transform: rotate(0deg);
        }
      }
    }

    // Selected

    // Icon
    .feature-list--item--icon {
      position: relative;
      display: inline-block;
      margin-left: 8px;
      float: left;

      .horizontal {
        position: absolute;
        top: 13px;
        left: 0px;
        width: 10px;
        height: 2px;
        background-color: $color-white;
        transform: rotate(-90deg);
        opacity: .5;
        transition: all 0.5s ease-in-out;
        will-change: transform;
      }

      .vertical {
        position: absolute;
        top: 9px;
        left: 4px;
        width: 2px;
        height: 10px;
        background-color: $color-white;
        transform: rotate(-90deg);
        opacity: .5;
        transition: all 0.5s ease-in-out;
        will-change: transform;
      }
    }

    // Icon

    // Text
    .feature-list--item--text {
      display: inline-block;
      margin-left: 8px;
      color: $color-white;
      font-size: 22px;
      line-height: 26px;

      @media (max-width: 567px) {
        font-size: 16px;
      }
    }

    // Text
  }

  // Item
}