.js {
  .pages-nav {
    height: auto;
  }
}

.pages-nav {
  // Logo
  .logo {
    margin-bottom: 64px;

    @media (max-width: 767px) {
      width: 100px;
      margin-bottom: 32px;
    }
  }

  // Logo

  // Menu Content
  .menu {
    width: 100%;

    // Contacts
    .left {
      display: flex;
      border-right: 2px solid $color-black-light;
    }

    .contacts {
      width: 100%;
      align-self: center;
      margin-right: 64px;

      @media (max-width: 767px) {
        margin-bottom: unset;
      }

      span {
        &:first-child {
          margin-bottom: 32px;
          color: $color-black-light;
          font-size: 30px;
          font-weight: bold;

          @media (max-width: 767px) {
            margin-bottom: 16px;
            font-size: 18px;
            text-align: center;
          }
        }
      }

      span,
      address {
        display: block;
        margin: 0;
        text-align: right;

        @media (max-width: 767px) {
          margin-bottom: 8px;
          font-size: 18px;
          text-align: center;
        }

        a {
          @media (max-width: 767px) {
            font-size: 18px;
          }

          &:hover {
            color: $color-black-light;
            text-decoration: none;
          }
        }
      }
    }

    // Contacts

    // Contacts & Menu
    .left,
    .right {
      // Menu Item
      .pages-nav__item {
        margin: 24px 0 24px 64px;

        @media (max-height: 780px) {
          margin: 8px 0 8px 64px;
        }

        @media (max-width: 992px) {
          margin: 24px 0 24px 64px;
        }

        @media (max-width: 767px) {
          width: 100%;
          margin: 0 0 24px;
          text-align: center;
        }

        @media (max-height: 640px) {
          margin-bottom: 0;
        }

        // Link
        .link {
          &.link--page {
            width: fit-content;

            @media (max-width: 767px) {
              width: 100%;
            }

            &:not(.link--faded) {
              &:before {
                width: 80%;
                left: 0;
                margin: 0;
                background: $color-black;
                transform-origin: left center;
              }
            }
          }
        }

        // Link
      }

      // Menu Item
    }

    // Contacts & Menu

    // Menu
    .right {
      overflow: hidden;

      .menu--primary,
      .menu--services {
        min-height: 350px;
        transition: transform .35s ease-in-out;
        will-change: transform;

        @media (max-height: 1024px) {
          min-height: 350px;
        }
      }

      // Menu Services
      .menu--services {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        transform: translateX(120%);
        transition: transform .35s ease-in-out;
        will-change: transform;

        .pages-nav__item {
          margin-bottom: 50px;

          @media (max-height: 780px) {
            margin-bottom: 32px;
          }

          @media (max-width: 992px) {
            margin-bottom: 48px;
          }

          @media (max-width: 767px) {
            margin-bottom: 32px;
          }

          @media (max-width: 576px) {
            margin-bottom: 16px;
          }

          &:first-child {
            text-align: left;

            @media (max-width: 767px) {
              text-align: center;
            }

            .link {
              display: inline-block;

              @media (max-width: 767px) {
                &:first-child {
                  display: block;
                }

                &:last-child {
                  display: none;
                }
              }

              > img {
                display: inline-block;
                vertical-align: baseline;
                margin-right: 24px;

                @media (max-width: 767px) {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      // Menu Services
    }

    // Menu

    // Menu
    .contacts--mb {
      &:before {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        margin: 0 auto 16px;
        background: $color-black-light;

        @media (max-height: 640px) {
          margin-top: 16px;
        }
      }

      > * {
        display: block;
      }
    }

    // Menu
  }

  // Menu Content

  // Menu Item
  .pages-nav__item {
    &.pages-nav__item--social {
      margin-top: 80px;

      @media (max-width: 992px) {
        margin-top: 48px;
        text-align: center;
      }

      @media (max-height: 780px) {
        margin-top: 24px;
        text-align: center;
      }

      // Link
      .link {
        &.link--social {
          &.link--faded {
            transition: color .15s ease-in-out;
            will-change: transform;

            &:hover,
            &:focus {
              color: $color-primary;
              text-decoration: none;
            }
          }
        }
      }

      // Link
    }
  }

  // Menu Item
}