.horizontal-menu {
  position: fixed;
  top: calc(100vh - 57px);
  right: 0;
  padding: 16px;
  background: $color-white;
  transform: translateX(150%);
  transition: transform .8s ease-in-out;
  transition-delay: .15s;
  will-change: transform;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff00 100%);
    z-index: -1;
  }

  .back,
  .next {
    display: inline-block;
  }

  .back {
    img {
      transform: rotateX(180deg);
    }
  }

  .next {
    float: right;
  }

  img,
  a {
    display: inline-block;
  }

  img {
    margin-right: 16px;
    margin-bottom: 8px;
  }

  a {
    font-size: 16px;
    color: $color-black-light;
    text-decoration: none;
  }
}