.mat-div {
  position: relative;
  margin-top: 24px;

  // After & Before
  &:after,
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-black-light;
    transition: all 0.35s ease-in-out;
    will-change: transform;
  }

  // After & Before

  // After
  &:after {
    background-color: $color-primary;
    transform: scaleX(0);
  }

  // After

  // Active
  &.is-active {
    &:after {
      transform: scaleX(1);
    }

    .mat-label {
      color: $color-primary;
    }
  }

  // Active

  // Completed
  &.is-completed {
    .mat-label {
      font-size: 12px;
      transform: translateY(0);
    }
  }

  // Completed

  // Label
  .mat-label {
    display: block;
    line-height: 30px;
    transform: translateY(40px);
    transition: all 0.35s ease-in-out;
    will-change: transform;
  }

  // Label

  // Input
  .mat-input {
    position: relative;
    width: 100%;
    padding: 8px 0;
    background: transparent;
    border: none;
    outline: none;
  }

  // Input
}