#app {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;

    > div {
      width: 100%;
      height: 69px;
      background: transparent;
      transition: background .35s ease-in-out;
      will-change: transform;
    }

    &.down {
      > div {
        background: $color-white;
        box-shadow: 0px 11px 11px -10px rgba($color-black, 0.2);

        // Menu Button
        .menu-button {
          &.white {
            &::before,
            &::after,
            span {
              background: $color-black;
            }
          }
        }

        // Menu Button

        // Search Button
        .search-button {
          &.white {
            .element {
              border-color: $color-black;
            }
          }
        }

        // Search Button
      }
    }

    // Menu Logo
    .menu-logo {
      position: absolute;
      top: 10px;
      left: calc((100% - 70px) / 2);
      cursor: pointer;
      z-index: 1000;
      transition: visibility .15s ease-in-out;
      will-change: transform;

      svg {
        width: 70px;

        #Group {
          transition: fill .35s ease-in-out;
          will-change: transform;
        }
      }
    }

    // Menu Logo

    // Search Button
    .search-button {
      position: absolute;
      z-index: 1000;
      top: 24px;
      right: 32px;
      width: 30px;
      height: 30px;
      padding: 0;
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
    }

    // Search Button

    // Close Button
    .close-button {
      position: absolute;
      z-index: 1000;
      top: 24px;
      right: 32px;
      width: 30px;
      height: 30px;
      padding: 0;
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
      visibility: hidden;

      .element {
        position: relative;
        width: 0;
        height: 15px;
        margin-bottom: 5px;
        border: 2px solid $color-white;

        &#one {
          width: 0px;
          height: 30px;
          border-radius: 0px;
          border-width: 1px;
          border-color: rgb(0, 0, 0);
          transform: rotateZ(-45deg);
          top: -1px;
          left: 14px;
        }

        &#two {
          width: 0px;
          height: 30px;
          top: -36px;
          left: 14px;
          border-width: 1px;
          border-color: rgb(0, 0, 0);
          transform: rotateZ(225deg);
        }
      }
    }

    // Close Button
  }
}