.iconbutton {
  position: absolute;
  top: 30%;
  left: 50%;
  background: none;
  border: 0;
  transform: translate(-50%, -30%);

  &:focus {
    outline: none;
  }
}

.scroll {
  width: 2rem;
  height: 3.25rem;
  border-radius: 1rem;
  border: 2px solid $color-white;
}

.scroll__wheel {
  width: 2px;
  height: 1rem;
  background: $color-white;
  border-radius: 0.1rem;
  margin: 0.25rem auto 0;
}