.page-section {
  height: auto;
  margin-bottom: 80px;
  background-color: $color-white-dark2;

  &:last-child {
    margin-bottom: 0;
  }

  .wizard--services,
  .wizard--fragrances {
    position: fixed;
    top: 0;
    background-color: $color-white-dark;
    z-index: 9999;
  }
}