.js {
  .page {
    background: $color-white-dark2;
    overflow: hidden;

    > div {
      &:not(.scroll-wrapper) {
        overflow-y: auto;
        overflow-x: hidden;
      }

      @media (max-width: 1366px) {
        overflow-y: auto;
        overflow-x: hidden;
      }

      height: 100vh;
    }
  }
}