.ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  [ripple] {
    position: relative;
    height: 48px;
    overflow: hidden;

    .ripple--inner--container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      span {
        transform: scale(0);
        border-radius: 100%;
        position: absolute;
        opacity: 0.75;
        background-color: #fff;
        animation: ripple 1000ms;
      }
    }
  }
}

@-moz-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@-o-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}