.search-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  text-align: center;
  background: #0e0f0f;
  justify-content: center;
  align-items: center;
}

.js {
  // Search
  .search-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 32px;
    pointer-events: none;
    opacity: 0;
    background: transparent;
    transform: translate3d(0, 150px, 0);
    transition: transform 1.2s, opacity 1.2s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    will-change: transform;

    &.pages-nav--open {
      pointer-events: auto;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .search {
      width: 100%;

      // Logo
      .logo {
        @media (max-width: 1024px) {
          width: 152px;
        }
      }

      // Logo

      // Search Container
      .search-container {
        width: 80%;
        margin: 0 auto;

        // Input
        input {
          width: 100%;
          height: 120px;
          margin-top: 180px;
          font-family: 'Fira Sans', sans-serif;
          color: $color-black-light;
          font-size: 80px;
          text-align: center;
          border: none;
          border-bottom: 4px solid $color-white-darker2;
          outline: none;
          background: transparent;
          transition: margin-top .35s ease-in-out;
          will-change: transform;

          @media (max-width: 992px) {
            height: 80px;
            margin-top: 144px;
            font-size: 50px;
          }

          @media (max-width: 767px) {
            margin-top: 48px;
          }

          @media (max-height: 780px) {
            margin-top: 16px;
          }

          &:focus {
            ~ .bar:before,
            ~ .bar:after {
              width: 50%;
            }
          }

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: 'Fira Sans', sans-serif;
            color: $color-white-darker2;
            font-size: 80px;

            @media (max-width: 1024px) {
              font-size: 50px;
            }
          }

          &::-moz-placeholder { /* Firefox 19+ */
            font-family: 'Fira Sans', sans-serif;
            color: $color-white-darker2;
            font-size: 80px;

            @media (max-width: 1024px) {
              font-size: 50px;
            }
          }

          &:-ms-input-placeholder { /* IE 10+ */
            font-family: 'Fira Sans', sans-serif;
            color: $color-white-darker2;
            font-size: 80px;

            @media (max-width: 1024px) {
              font-size: 50px;
            }
          }

          &:-moz-placeholder { /* Firefox 18- */
            font-family: 'Fira Sans', sans-serif;
            color: $color-white-darker2;
            font-size: 80px;

            @media (max-width: 1024px) {
              font-size: 50px;
            }
          }

          &.searching {
            margin-top: 40px;
          }
        }

        // Input

        // Info
        .search-container--info {
          float: right;
          margin-top: 24px;
          font-family: 'Fira Sans', sans-serif;
          color: $color-white-darker2;
          font-size: 16px;
        }

        // Info
      }

      // Search Container

      // Input Bar
      .bar {
        position: relative;
        display: block;

        &:before,
        &:after {
          content: '';
          position: absolute;
          bottom: 1px;
          width: 0;
          height: 4px;
          background: $color-black-light;
          transition: all 0.35s ease-in-out;
          will-change: transform;
        }

        &:before {
          left: 50%;
        }

        &:after {
          right: 50%;
        }
      }

      // Input Bar

      // Tips Container
      .search-tips-container {
        width: 75%;
        margin: 0 auto;

        // Tips Col
        .search-tips--col {
          text-align: left;

          // List
          .search-tips-list {
            width: 100%;
            margin-top: 24px;
            margin-left: -40px;
            padding: 0;
            text-align: left;

            @media (max-width: 992px) {
              margin-left: 0;
            }

            @media (max-width: 767px) {
              margin: 0;
            }

            // Item
            .search-tips-list--item {
              display: inline-block;
              margin-top: 8px;
              margin-left: 24px;
              list-style: none;
              text-decoration: underline;

              a {
                font-family: 'Fira Sans', sans-serif;
                color: $color-gray;
                font-size: 16px;
                font-weight: 300;

                @media (max-width: 992px) {
                  font-size: 14px;
                }

                &:hover,
                &:focus {
                  color: $color-gray;
                  opacity: .5;
                }
              }
            }

            // Item
          }

          // List
        }

        // Tips Col
      }

      // Tips Container

      // Results
      .search-nav--result-list--container {
        width: 75%;
        margin: 0 auto;
      }

      // Results
    }
  }

  // Search

  // Search Mobile
  .search-nav--mb {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block !important;
    height: 100vh;
    transform: translateY(0%);
    z-index: 10001;

    &.hidden {
      transform: translateY(-150%);
      transition-delay: .5s;

      .search-nav--search-container {
        transform: translateY(-150%);
      }

      .search-nav--result-list--container {
        transform: translateY(-150%);
      }
    }

    // Search Container
    .search-nav--search-container {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      transform: translateY(0%);
      transition: transform 1.2s cubic-bezier(0.2, 1, 0.3, 1) .2s;
      will-change: transform;
      z-index: 2;

      // Input
      input {
        width: 100%;
        height: 69px;
        padding: 24px;
        border: none;
        outline: none;
        box-shadow: 0 4px 24px 0 rgba($color-black, 0.2);

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-family: 'Fira Sans', sans-serif;
          color: $color-white-darker2;
          font-size: 18px;
        }

        &::-moz-placeholder { /* Firefox 19+ */
          font-family: 'Fira Sans', sans-serif;
          color: $color-white-darker2;
          font-size: 18px;
        }

        &:-ms-input-placeholder { /* IE 10+ */
          font-family: 'Fira Sans', sans-serif;
          color: $color-white-darker2;
          font-size: 18px;
        }

        &:-moz-placeholder { /* Firefox 18- */
          font-family: 'Fira Sans', sans-serif;
          color: $color-white-darker2;
          font-size: 18px;
        }
      }

      // Input

      // Button
      .search-button--close {
        position: absolute;
        top: 24px;
        right: 24px;
      }

      // Button
    }

    // Search Container

    // Search Results
    .search-nav--result-list--container {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 16px;
      height: calc(100vh - 69px);
      font-family: 'Fira Sans', sans-serif;
      background: $color-white;
      transform: translateY(69px);
      transition: transform 1.2s cubic-bezier(0.2, 1, 0.3, 1) .05s;
      will-change: transform;
      overflow: auto;
      z-index: 1;

      .search-nav--result--title {
        display: block;
        font-size: 14px;

        &:before {
          margin-top: 24px;
          margin-right: 16px;
        }
      }

      .search-nav--results {
        margin-bottom: 24px;
        font-size: 12px;
      }

      .search-nav--result-list {
        height: auto;

        li {
          .search-nav--result-item--title {
            font-size: 24px;
            line-height: 50px;
          }
        }
      }
    }

    // Search Results
  }

  // Search Mobile

  .search-nav--result-list {
    height: 300px;
    margin: 0;
    padding: 8px;
    list-style: none;

    @media (min-width: 768px) and (max-width: 1024px) {
      height: 400px;
    }

    li {
      margin-bottom: 24px;
      cursor: pointer;

      .col-2 {
        flex: 0 0 128px;
        max-width: 128px;
        width: 128px;
        height: 128px;
        background-size: cover !important;
        box-shadow: 0px 0px 10px 0 rgba($color-black, 0.2);

        @media (min-width: 768px) and (max-width: 1024px) {
          flex: 0 0 80px;
          max-width: 80px;
          width: 80px;
          height: 80px;
        }

        @media (max-width: 576px) {
          flex: 0 0 45px;
          max-width: 45px;
          width: 45px;
          height: 45px;
        }
      }

      .search-nav--result-item--title {
        color: $color-white-darker2;
        font-family: "Fira Sans", sans-serif;
        font-size: 30px;
        font-weight: 600;
      }

      .search-nav--result-item--text {
        margin-top: 16px;
        color: $color-black-light;
        font-family: "Fira Sans", sans-serif;
        font-size: 14px;
      }
    }
  }
}

// Icon
.wrapper {
  &.white {
    .element {
      border-color: #fff;
    }
  }

  .element {
    position: relative;
    width: 0;
    height: 15px;
    margin-bottom: 8px;
    border: 2px solid $color-black;
    transition: border-color .35s ease-in-out;
    will-change: transform;

    &#one {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    &#two {
      position: relative;
      top: -14px;
      left: 19px;
      width: 5px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      transform: rotate(-45deg);
    }
  }
}

// Icon