.services-list {
  margin: 72px 0 48px;
  text-align: center;

  .services-list-items {
    display: inline-block;
    width: 360px;
    height: 550px;
    padding: 80px 32px 32px;
    background-color: $white-color;
    border-radius: 15px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      margin-right: 32px;
    }

    .services-list-item-image {
      width: 200px;
      height: 150px;
      margin: 0 auto;
      background-position: center !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
    }

    .services-list-item-title {
      margin-top: 80px;
      color: $text-color;
      font-size: 22px;
    }

    .services-list-item-text {
      height: 100px;
      margin-top: 32px;
      color: $text-color;
      font-size: 16px;
      opacity: 0.8;
    }

    .services-list-item-link {
      position: relative;
      width: fit-content;
      color: $services-list-item-link-color;
      font-size: 16px;
      font-weight: 300;
      opacity: 0.5;

      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        margin: 0;
        background: $services-list-item-link-color;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
        will-change: transform;
      }

      &:hover {
        text-decoration: none;

        &:before {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}