#cover {
  position: relative;
  top: 50%;
  width: fit-content;
  margin: 0 auto;
  transform: perspective(1px) translateY(-50%);

  img,
  svg {
    min-width: 300px;
    max-width: 350px;

    @media (max-width: 576px) {
      min-width: 250px;
    }
  }

  .room {
    position: absolute;

    // Box
    .box {
      position: absolute;
      width: 9px;
      height: 9px;
      border: 1px solid $color-primary;
      cursor: pointer;
      z-index: 9999;

      .inner-box {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 9px;
        height: 9px;
        background: $color-primary;
        transform: scale(0);
        transition: transform .35s ease-in-out;
        will-change: transform;

        &.fill {
          transform: scale(1);
        }
      }
    }

    // Box

    // Waves
    .room--wave {
      position: absolute;
      background: $color-primary;
      transform: scale(0);
      opacity: .1;
      animation-delay: .2s;
    }

    // Waves
  }
}

// Animations
.animate-svg {
  animation-name: scale;
  animation-duration: .8s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  animation-fill-mode: both;
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.box--animation {
  animation-name: pulsing;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.reverse {
  animation-name: _revert;
  animation-duration: .8s;
  animation-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
  animation-fill-mode: both;
}

@keyframes _revert {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

// Animations