.nav-tabs {
  width: fit-content;
  margin: 80px auto 24px;
  border: 1px solid $color-white-dark3;

  .nav-item {
    .nav-link {
      position: relative;
      width: 150px;
      height: 44px;
      color: $color-white-darker2;
      font-size: 16px;
      background-color: transparent;
      border-radius: 0;
      border: none;
      line-height: 28px;

      @media (max-width: 1024px) {
        width: 120px;
      }

      @media (max-width: 567px) {
        width: 100px;
        padding: 8px;
      }

      &:hover {
        color: $color-primary;
      }

      &.active {
        color: $color-white;
        background-image: linear-gradient(45deg, #E1CB5E 0, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
      }

      &.active {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0 15px 10px -10px rgba(191, 155, 48, .5);
        }
      }
    }
  }
}