.text-box {
  width: 70%;
  margin: 64px auto 0;
  padding: 32px;
  background: $color-white;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, .2);

  @media (max-width: 576px) {
    width: 90%;
  }

  // Text
  .box--text {
    // Hifen
    .box--text-hifen {
      &:before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 2px;
        margin-right: 24px;
        background: $color-black;
        vertical-align: middle;
      }
    }

    // Hifen
  }

  // Text
}