.mdtp__wrapper[data-theme='blue'] {
  .mdtp__time_holder {
    background-image: linear-gradient(45deg, #E1CB5E 0, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
  }

  .mdtp__clock {
    .mdtp__clock_dot {
      background-image: linear-gradient(45deg, #E1CB5E 0, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
    }

    .mdtp__digit {
      span {
        &:hover {
          background-color: $color-primary;
        }
      }
    }

    .mdtp__am,
    .mdtp__pm {
      &.active {
        background-image: linear-gradient(45deg, #E1CB5E 0, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
      }
    }
  }

  .mdtp__digit {
    &.active {
      &:before {
        background-image: linear-gradient(45deg, #E1CB5E 0, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
      }

      span {
        background-image: linear-gradient(45deg, #E1CB5E 0, #D6BC4F 37%, #D4B84C 60%, #BF9B30 100%);
      }
    }
  }

  .mdtp__button {
    color: $color-primary;
  }
}