.vertical-menu {
  position: fixed;
  left: 40px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 1;

  @media (max-width: 767px) {
    left: 16px;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 8px;
      transition: all .35s;

      a {
        color: $color-gray;
        font-size: 18px;
        text-decoration: none;

        @media (max-width: 1024px) {
          font-size: 16px;
        }

        &:before {
          content: "";
          display: inline-block;
          width: 14px;
          height: 2px;
          margin-right: 16px;
          background: $color-gray;
          vertical-align: middle;
        }
      }

      &.active,
      &:hover {
        margin-left: 32px;
        transform: scale(1.6);

        @media (max-width: 1024px) {
          margin-left: 8px;
          transform: scale(1.1);
        }

        a {
          color: $color-white;
          cursor: pointer;

          &:before {
            background: $color-white;
          }
        }
      }
    }
  }
}