.wizard {
  // Steps
  .wizard-steps {
    margin-bottom: 32px;
    padding: 0;
    list-style: none;

    // Step
    li {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      color: $color-white;
      line-height: 30px;
      text-align: center;
      background: linear-gradient(to left, $color-white-darker2 50%, $color-primary 50%);
      background-position: right bottom;
      background-size: 200% 100%;
      transition: all .35s ease-in-out;
      will-change: transform;
      cursor: not-allowed;

      @media (max-width: 567px) {
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
      }

      &:not(:last-child) {
        margin-right: 72px;

        @media (max-width: 567px) {
          margin-right: 40px;
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 30px;
          display: block;
          width: 77px;
          height: 5px;
          background: linear-gradient(to left, $color-white-darker2 50%, $color-primary 50%);
          background-position: right bottom;
          background-size: 200% 100%;
          transition: all .35s ease-in-out;
          will-change: transform;

          @media (max-width: 567px) {
            width: 45px;
            left: 20px;
          }
        }
      }

      // Completed
      &[data-completed] {
        cursor: pointer;
      }

      // Completed

      // Current & Done
      &.current,
      &.done {
        background-position: left bottom;
        cursor: pointer;
      }

      // Current & Done

      // Done
      &.done {
        &:not(:last-child) {
          &:after {
            background-position: left bottom;
          }
        }

        // Current
        &.current,
        &.current + .done {
          &:not(:last-child) {
            &:after {
              background-position: right bottom;
            }
          }
        }

        // Current
      }

      // Done

      // Checkmark
      .checkmark {
        display: none;

        &.draw {
          &:after {
            transform: scaleX(-1) rotate(135deg);
            animation-duration: 800ms;
            animation-timing-function: ease;
            animation-name: checkmark;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(50% - 8px);
          width: 8px;
          height: 16px;
          border-right: 2px solid $color-white;
          border-top: 2px solid $color-white;
          transform-origin: left top;
          opacity: 1;

          @media (max-width: 567px) {
            left: calc(50% - 6px);
            width: 6px;
            height: 12px;
          }
        }
      }

      // Checkmark

      // Animation
      @keyframes checkmark {
        0% {
          width: 0;
          height: 0;
          opacity: 1;
        }

        20% {
          width: 8px;
          height: 0;
          opacity: 1;
        }

        40% {
          width: 8px;
          height: 16px;
          opacity: 1;
        }

        100% {
          width: 8px;
          height: 16px;
          opacity: 1;
        }
      }

      @media (max-width: 567px) {
        @keyframes checkmark {
          0% {
            width: 0;
            height: 0;
            opacity: 1;
          }

          20% {
            width: 6px;
            height: 0;
            opacity: 1;
          }

          40% {
            width: 6px;
            height: 12px;
            opacity: 1;
          }

          100% {
            width: 6px;
            height: 12px;
            opacity: 1;
          }
        }
      }
    }

    // Step
  }

  // Wizard Content
  .wizard-content {
    // Panel
    .wizard-pane {
      right: 0;
      left: 0;
      height: 80vh;
      overflow: hidden;

      @media (max-width: 1024px) {
        overflow-y: auto;
        overflow-x: hidden;
      }

      @media (max-height: 668px) {
        max-height: 490px;
        padding-bottom: 64px;
      }

      > .scroll-wrapper {
        height: 80vh;
      }

      > .scrollbar-macosx {
        &:not(.scroll-wrapper) {
          height: 80vh;
          overflow-y: auto;
          overflow-x: hidden;

          @media (max-width: 567px) {
            overflow: hidden;
          }
        }
      }

      .final-step {
        @media (max-width: 567px) {
          img {
            height: 180px;
          }
        }
      }

      .row {
        .features {
          margin-top: 48px;

          @media (max-width: 992px) {
            margin-top: 0;
          }
        }

        .wizard-step--title {
          margin-bottom: 8px;

          @media (max-width: 567px) {
            margin-bottom: 32px;
          }
        }

        // Wizard Step Content
        &.wizard-step-content {
          height: 80%;
          margin-top: 48px;
          padding-bottom: 24px;
          overflow-y: auto;
          overflow-x: hidden;

          @media (max-width: 567px) {
            margin-top: 32px;
          }

          .col-md-12 {
            @media (max-width: 567px) {
              margin: 0 auto !important;
            }
          }

          // Wizard Card
          .wizard-card {
            position: relative;
            display: inline-block;
            width: 280px;
            height: 280px;
            background-color: $color-white;
            box-shadow: -5px 5px 20px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;

            @media (max-width: 1024px) {
              width: 200px;
              height: 200px;
            }

            @media (max-width: 992px) {
              display: block;
              width: 300px;
              margin: 0 auto;
              margin-bottom: 24px;
            }

            @media (max-width: 567px) {
              height: 150px;
            }

            &:not(:last-child) {
              margin-right: 64px;

              @media (max-width: 992px) {
                margin-right: auto;
              }
            }

            &.selected {
              background: $color-white;
            }

            // Image Container
            .wizard-card--image-container {
              display: flex;
              height: calc(280px - 53px);

              @media (max-width: 1024px) {
                height: calc(200px - 53px);
              }

              @media (max-width: 567px) {
                height: calc(150px - 44px);
              }

              img {
                align-self: center;
                margin: 0 auto;

                @media (max-width: 567px) {
                  width: 66px;
                }
              }
            }

            // Image Container

            // Title
            .wizard-card--title {
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
              padding: 8px;
              background-color: $color-black-light;
            }

            // Title
          }

          // Wizard Card

          // Wizard asRange
          .wizard-range-slider--value {
            color: $color-primary;
            font-size: 50px;
            font-weight: 800;
            opacity: 0.5;

            @media (max-width: 567px) {
              font-size: 40px;
            }
          }

          .wizard-range-slider--minMax-container {
            width: 80%;
            margin: 8px auto;

            .wizard-range-slider--min,
            .wizard-range-slider--max {
              color: $color-gray-dark;
              font-size: 12px;
              font-weight: 300;
            }

            .wizard-range-slider--min {
              float: left;
            }

            .wizard-range-slider--max {
              float: right;
            }
          }

          // Wizard asRange
        }

        // Wizard Step Content

        // Demonstration
        .demonstration {
          display: block;
          width: fit-content;
          margin: 40px auto 0;
          padding: 8px;
          font-family: "Fira Sans", sans-serif;
          color: $color-white;
          font-size: 16px;
          font-weight: 300;
          border-radius: 50px;
          background: $color-primary;
          box-shadow: 0 2px 8px 0 rgba($color-primary, 0.4);
        }

        .demonstration-date {
          display: block;
          width: 100%;
          margin: 16px 0;
          font-family: "Fira Sans", sans-serif;
          color: $color-black-light;
          font-size: 14px;
        }

        // Demonstration

        // Timepicker
        input[id^="timepicker"] {
          height: 48px;
          margin-top: 40px;
          padding: 0 16px;
          border: none;
          border-bottom: 1px solid $color-black-light;
          background: transparent;

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: "Fira Sans", sans-serif;
            color: $color-white-darker2;
            font-size: 20px;
          }

          &::-moz-placeholder { /* Firefox 19+ */
            font-family: "Fira Sans", sans-serif;
            color: $color-white-darker2;
            font-size: 20px;
          }

          &:-ms-input-placeholder { /* IE 10+ */
            font-family: "Fira Sans", sans-serif;
            color: $color-white-darker2;
            font-size: 20px;
          }

          &:-moz-placeholder { /* Firefox 18- */
            font-family: "Fira Sans", sans-serif;
            color: $color-white-darker2;
            font-size: 20px;
          }
        }

        // Timepicker

        // Form
        form {
          width: 80%;
          margin: 0 auto;

          .col-md-6 {
            margin-bottom: 24px;
          }
        }

        // Form
      }
    }

    // Panel
  }

  // Wizard Content

  .wizard-buttons {
    display: none;
  }

  .btn-next-step {
    &.loose {
      margin-top: 56px;
      margin-bottom: 48px;
    }
  }
}