%equipment--detail {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 0;
  background: transparent;
  transform: translateX(110%);
  transition: transform .8s ease-in-out;
  will-change: transform;
  z-index: 9999;

  // Title
  .title {
    position: relative;
    width: max-content;
    margin-bottom: 40px;
    text-align: left;

    &:before {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 70%;
      height: 5px;
      background: $color-black;
    }

    &.text-center {
      &:before {
        left: 40% !important;
        width: 20% !important;
      }
    }

    &.underline-none {
      &:before {
        content: unset !important;
      }
    }
  }

  // Title

  // Form
  .form,
  .form-submitted {
    & > .row {
      margin: 24px 0;
    }
  }

  .form {
    form {
      .col-md-12 {
        margin-top: 24px;
      }
    }
  }

  .form-submitted {
    display: none;

    .title {
      width: 100% !important;
      margin-top: 64px;
      color: $color-black-light;
      font-size: 30px;
      font-weight: 500;
      text-align: center !important;

      &:before {
        content: unset !important;
      }
    }
  }

  // Form

  .tab-pane {
    height: 320px;
  }
}